/* CSS Reset */
*{
  margin: 0;
  padding: 0;
}

/* custom background for button*/
.custom-btn {
  background-color: #E6E6E6;
  }

.custom-btn:hover {
      background-color: #dadfe4; 
      color: light;
  }

