.custom-shadow {
    box-shadow: 0px 5px 10px rgba(59, 56, 56, 0.6) !important; /* Red shadow */
  }
  .errorMessage {
    color: red;
    font-size: 0.9rem;
  }
  
  .hidden {
    display: none;
  }
  